::-webkit-scrollbar{
    width: 1em;
}

::-webkit-scrollbar-track{
    margin-block: .5em;
}

::-webkit-scrollbar-thumb{
    background:  rgb(90, 90, 90, .75);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
    background:  rgb(90, 90, 90, .85);
    transition: all 5s ease-in-out 0s;
}